<div class="wrapper">

  <div class="controls">

    <div class="chapters">

      <div class="select-box">
        <h3>1 - 10</h3>
        <select [(ngModel)]="currentChapter" (change)="selectChapter()">
          <option *ngFor="let i of chapters1" [value]="i">chapter {{i}}</option>
        </select>
      </div>

      <div class="select-box">
        <h3>11 - 20</h3>
        <select [(ngModel)]="currentChapter" (change)="selectChapter()">
          <option *ngFor="let i of chapters2" [value]="i">chapter {{i}}</option>
        </select>
      </div>

    </div>



    <div class="buttons">
      <button (click)="moveChapter('prev')"><</button>
      <button (click)="moveChapter('next')">></button>
      <button (click)="toggleReversed()">reverse</button>
      <button (click)="shulffle()">shulffle</button>
    </div>


  </div>

  

<div class='kanji-list'>
  <div  *ngFor="let kanji of selectedChapter">
    <app-kanji-item [kanji]="kanji"></app-kanji-item>
  </div>
</div>


</div>
