.wrapper {
  max-width: fit-content;
  margin: 10px auto;
  padding: 0 10px;
}

#title {
  text-align: right;
}

.kanji-list {
  margin-top: 10px;
  /* width: fit-content; */
  max-width: 870px;
  display: grid;

  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.chapters {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(105px, 0fr));
  justify-content: start;
  
  margin: 10px 0;
  // max-width: 110 * 4px;
}

.select-box {
  position: relative;
  display: grid;
  width: 105px;

  justify-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}

.chapters select {
  width: 100px;
  height: 35px;
  background-color: #1c1c1c;
  border: none;
  border-radius: 6px;
  color: #ffc58e;
  text-align: center;
  padding-top: 18px;
}
.chapters select:hover {
  background-color: #f2f2f2;
  background-color: #3a3a3a;
  cursor: pointer;
}

.select-box h4 {
  font-size: 0.8rem;
  position: absolute;
  pointer-events: none;
}

.controls {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 6px;
  justify-content: space-between;
}

.controls .buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
}

.controls .buttons-wrapper {
  width: 100%;
}

.controls button {
  height: 50px;
  width: 50px;
  background-color: #1c1c1c;
  border: 1px solid gray;
  border-radius: 6px;
  color: #ffc58e;
}
.controls button:hover {
  background-color: #3a3a3a;
  cursor: pointer;
}

.controls .redMode {
  border: 1px solid #00ff8c;
}

@media screen and (max-width: 800px) {
  .kanji-list {
    grid-template-columns: repeat(auto-fill, minmax(60px, 0fr));
  }
}
