.wrapper {
    max-width: fit-content;
    margin: 60px auto;
}


.kanji-list {
    margin-top: 10px;
    /* width: fit-content; */
    max-width: 870px;
    display: grid;
    
    /* grid-template-columns: repeat(8, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.controls {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: center;
}

.controls button {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}
.controls button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.controls select {
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    text-align: center;
}
.controls select:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .kanji-list {
        grid-template-columns: repeat(auto-fill, minmax(60px, 0fr));
    }
}
