<div class="wrapper">

  <select [(ngModel)]="currentChapter" (change)="selectChapter()">
    <option *ngFor="let i of chapters" [value]="i">chapter {{i}}</option>
  </select>
  <button (click)="moveChapter('prev')"><</button>
  <button (click)="moveChapter('next')">></button>
  <button (click)="toggleReversed()">reverse</button>
  <button (click)="shulffle()">shulffle</button>
  

<div class='kanji-list'>
  <div  *ngFor="let kanji of selectedChapter">
    <app-kanji-item [kanji]="kanji"></app-kanji-item>
  </div>
</div>


</div>
