<div class="wrapper">

  <div class="chapters">

    <div class="select-box">
      <h4>1 - 15</h4>
      <select [(ngModel)]="currentChapterIndex" (change)="selectChapter()">
        <option *ngFor="let i of chapters1" [value]="i">{{chapters[i].name}}</option>
      </select>
    </div>

    <div class="select-box">
      <h4>16 - 22</h4>
      <select [(ngModel)]="currentChapterIndex" (change)="selectChapter()">
        <option *ngFor="let i of chapters2" [value]="i">{{chapters[i].name}}</option>
      </select>
    </div>

    <!-- <div class="select-box">
      <h4>31 - 45</h4>
      <select [(ngModel)]="currentChapterIndex" (change)="selectChapter()">
        <option *ngFor="let i of chapters3" [value]="i">chapter {{i}}</option>
      </select>
    </div>  -->
<!-- 
    <div class="select-box">
      <h4>46 - 60</h4>
      <select [(ngModel)]="currentChapterIndex" (change)="selectChapter()">
        <option *ngFor="let i of chapters4" [value]="i">chapter {{i}}</option>
      </select>
    </div> -->

  </div>

  <div class="controls">

    <div class="buttons">
      <button (click)="moveChapter('prev')"><</button>
      <button (click)="moveChapter('next')">></button>
      <button (click)="toggleReversed()">reverse</button>
      <button (click)="shulffle()">shulffle</button>
      
      <button (click)="toggleSave()" [ngClass]="{'redMode': saveModeRed}">{{ saveModeText }}</button>
      <button (click)="loadSaved()">load saved</button>
    </div>

  </div>

  

<div class='kanji-list'>
  <div  *ngFor="let kanji of selectedChapter">
    <app-kanji-item 
    [kanji]="kanji"
    [saveMode]="saveMode"
    (kanjiSelected)="handleKanjiSelected($event)"
    [saved]="isSaved(kanji)"
    >
  </app-kanji-item>
  </div>
</div>


</div>
