.wrapper {
  max-width: fit-content;
  margin: 60px auto;
}

.kanji-list {
  margin-top: 10px;
  /* width: fit-content; */
  max-width: 870px;
  display: grid;

  /* grid-template-columns: repeat(8, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
}

.chapters {
    display: grid;
    grid-auto-flow: column;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
}

.select-box {
    display: grid;
    justify-items: center;
}

.controls {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  justify-content: center;
}

.controls button {
  height: 50px;
  width: 50px;
  background-color: #1c1c1c;
  border: 1px solid gray;
  border-radius: 6px;
  color: #ffc58e;
}
.controls button:hover {
  background-color: #3a3a3a;
  cursor: pointer;
}

.controls select {
  background-color: #1c1c1c;
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
  color: #ffc58e;
}
.controls select:hover {
  background-color: #f2f2f2;
  background-color: #3a3a3a;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .kanji-list {
    grid-template-columns: repeat(auto-fill, minmax(60px, 0fr));
  }
}
